
<!DOCTYPE html>
<html lang="en">
<head>
<div>

<body>
<br>
		<div style="background:#fff;padding-bottom:70px;margin-top:15px;max-width:600px;margin:auto">
			<div style="text-align:center">
		</div>
		<br>
		<div style="text-align:center">
		<h4 style="font-size:20px;font-weight:500;color:#000;font-family: 'Roboto', sans-serif;">RESET PASSWORD</h4>
		<br>

        <b style="color:#000;font-family: 'Roboto', sans-serif;">Not to worry, We got you!  Let's reset your password.</b>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href={{ link }} style="padding:10px 16px;border-radius:20px;background:#00261D;color:#fff;font-size:17px;border:1px solid;font-family: 'Roboto', sans-serif;;margin-top:20px;text-decoration:none" target="_blank" data-saferedirecturl="{link}">Reset Password</a>
	</div>
		</div>
		<br>
<div style="text-align:center;margin-top:18px">
	<a href="#" style="text-decoration:none;font-family: 'Roboto', sans-serif;" target="_blank" data-saferedirecturl="https://www.wowpbx.com/contact-us">
		Contact Us |</a>
<a href="#" style="text-decoration:none;font-family: 'Roboto', sans-serif;">
		Privacy Policy |
	</a>
	<a href="#" style="text-decoration:none;font-family: 'Roboto', sans-serif;">

		Terms of Service
		</a><font color="#888888">

</font></div><font color="#888888">

	</font></div><font color="#888888">

</font></div>
</body>
</html>
